.App {
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  /* background: url(./images/test.jpg); */
  /* background-size: cover; */
}

body, html {
  /* height: 100vh; */
}




/*  */
/* NAVBAR */
/*  */

.nameLogo {
  display: flex;
  font-size: medium;
  font-family: 'Mouse Memoirs', sans-serif;
  letter-spacing: 1.5px;
  /* font-family: 'Lexend Peta', sans-serif; */
  color: black;
}

a {
  color: black;
  margin-right: 20px;
}

a:hover {
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 8%;
  font-size: larger;
  font-weight: 200;
  letter-spacing: 2px;
  /* background: linear-gradient(to right, #283c86, #45a247); */
  /* background: #c5c3c6; */
  /* color: #283c86; */
  /* font-family: 'Libre Baskerville', serif; */
}

.links:hover {
  /* height: 10%; */
  /* transition: margin-bottom 2s ease-in-out; */
  /* transform: scale(2); */
  /* animation: 3s ease-in-out linear; */
}


/*  */
/* Homepage  */
/*  */




.homepage {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* background: linear-gradient(to right, #283c86, #45a247); */
  /* background: #46494c; */
  /* top: 50%; */
  /* margin: -25px 0; */
  /* background-image: url('./images/2train.jpg'); */
  /* background-size: cover; */
  /* background-position: center center; */
  /* background-attachment: fixed; */
  /* opacity: 1; */
  height: 100%;
}

.introduction {
  margin-top: 100px;
  color: black;
  /* width: 80%; */
  /* letter-spacing: 3px; */
}

.title {
  text-align: center;
  /* font-family: 'Libre Baskerville', serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-size: 80px;
  font-family: 'Mouse Memoirs', sans-serif;
  letter-spacing: 10px;
  /* font-weight: 900; */
  color: black;
}

.brandStatement {
  text-align: justify;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
}

.homeButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  font-family: 'Raleway', sans-serif;
}

Button {
  /* background: linear-gradient(to right, #283c86, #45a247); */

}


/*  */
/* PORTFOLIO */
/*  */

.portfolio {
  /* background: #C1BFB5; */
  height: 100%;
}

.portTitle {
  text-align: center;
  margin-top: 3%;
  /* font-family: 'Libre Baskerville', serif; */
  letter-spacing: 12px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  line-height: normal;
}

.card {
  height: auto;
}

.cardButtons {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

.cardButton {
  background: linear-gradient(to right, #283c86, #45a247);
  border: none;
}


/*  */
/* Contact */
/*  */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactText {
  margin-top: 20%;
}

.icons {
  margin-top: 30%;
}

i {
  font-size: 5rem;
}

/*  */
/* FOOTER */
/*  */

.footer {
  position: relative;
  min-height: 19%;
  text-align: center;
}

h6 {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: .7rem;
  letter-spacing: 2px;
}